@{
    ViewData["Title"] = "About";
}

<div class="section">
    <h2>@ViewData["Title"].</h2>

    <div class="row">
        <div class="col s12">
            <h3>@ViewData["Message"]</h3>

            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>