@{
    ViewData["Title"] = "OpenId Connect Identity Provider";
}

<div class="row">
    <div class="col-md-3">
        <h2>Features</h2>
        <ul>
            <li>Login and administer accounts</li>
            <li>Verify passwords against OpenLDAP</li>
            <li>MFA using email</li>
            <li>Create and manage application keys and secrets</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Goals</h2>
        <ul>
            <li>OpenId Connect Identity Provider</li>
            <li>OAuth2 auth token service</li>
            <li>Access tokens with X509 chain of trust</li>
            <li>User control over authorised applications</li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>Vision</h2>
        <ul>
            <li>Enable secure public-facing APIs</li>
            <li>Enable traceable, auditable systems</li>
            <li>Enable automatable APIs with auth delegation</li>
        </ul>
    </div>
</div>