@{
    ViewData["Title"] = "OpenId Connect Identity Provider";
}

<div class="section no-pad-bot" id="index-banner">
 
    <br><br>
    <h1 class="header center orange-text">OpenIdConnectServer</h1>
    <div class="row center">
        <h5 class="header col s12 light">An Authorisation Service for connecting websites and APIs</h5>
    </div>
    <br><br>
</div>

<div class="section">
    <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text">
                    <i class="material-icons">toc</i>
                </h2>
                <h5>Features</h5>
                <ul>
                    <li>Local user registration and login</li>
                    <li>MFA using TOTP</li>
                    <li>Device Code Flow</li>
                    <li>Authorisation Code Flow</li>
                    <li>JWTs signed by asymmetric key</li>
                </ul>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text">
                    <i class="material-icons">timeline</i>
                </h2>
                <h5>Goals</h5>
                <ul>
                    <li>OpenId Connect Authorisation Service</li>
                    <li>OpenId Connect Identity Provider</li>
                    <li>OAuth2 auth token service</li>
                    <li>Access tokens with X509 chain of trust</li>
                    <li>User control over authorised applications</li>
                </ul>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text">
                    <i class="material-icons">explore</i>
                </h2>
                <h5>Vision</h5>
                <ul>
                    <li>Enable secure public-facing APIs</li>
                    <li>Enable traceable, auditable systems</li>
                    <li>Enable automatable APIs with auth delegation</li>
                </ul>
            </div>
        </div>
    </div>

</div>
